<div class="container d-flex justify-content-center align-items-center h-100">
    <form method="post" class="w-25" style="height:300px; background-color: lightgrey;">
        <div class="card">
            <div class="card-header bg-primary">
                <strong class="card-title">Login</strong>
            </div>
        </div>
        <div class="card-body p-3">
            <div class="form-group">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Password</label>
                <input type="text" class="form-control" name="password">
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>